@import './mixins';
@import './vars';

button, a, .clickable {
    cursor: pointer;

    user-select: none;

    &:not(.opaque) {
        @include clickable(opacity, .8, .6);
    }
}

.subtext {
    color: $color-subtext;

    font-size: 16px;
    line-height: 22px;

    text-align: center;

    .link {
        color: $color-subtext-link;
    }
}

.card {
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, .15) 0 2px 8px;

    transition: all .2s;

    &.clickable:hover {
        box-shadow: rgba(0, 0, 0, .25) 0 2px 9px;
        transform: translateY(-1px);
    }
}

.variable {
    $transition-duration: .6s;
    $transition-function: cubic-bezier(0.65, 0, 0.35, 1);

    transition: width $transition-duration $transition-function,
                margin $transition-duration $transition-function;
}

.point {
    width: 8px;
    height: 8px;

    background-color: #D5D9DC;

    border-radius: 50%;

    &.big {
        width: 10px;
        height: 10px;
    }

    &.small {
        width: 6px;
        height: 6px;
    }
}
