@font-face {
    font-family: "Circular Std";
    src: url("/src/assets/fonts/CircularStd-Book.ttf") format("truetype");
}

@font-face {
    font-family: "Circular Std";
    font-style: italic;
    src: url("/src/assets/fonts/CircularStd-BookItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Circular Std";
    font-weight: 500;
    src: url("/src/assets/fonts/CircularStd-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Circular Std";
    font-weight: bold;
    src: url("/src/assets/fonts/CircularStd-Bold.ttf") format("truetype");
}