@import '/node_modules/normalizecss/normalize.css';

body {
    overflow: hidden;
}

div {
    display: flex;
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}
