$color-background: #FFFFFF;
$color-primary: #3247FF;
$color-link: #151925;
$color-subtext: #868DA0;
$color-subtext-link: #3D69ED;
$color-error: #C41F1F;
$color-label: #343434;
$color-field: #F3F4F5;

$gradient-background: linear-gradient(-212deg, #343D55 0%, #151925 95%);
$gradient-login-button: linear-gradient(-56deg, #3247FF 0%, #1C11B0 100%);

$font-circular: 'Circular Std', 'Arial', sans-serif;
